$link-color: rgb(41, 157, 221);
$link-color-focus: hotpink;
$font-size: 18px;
$font-color: #222;
$font-color-subdued: rgb(123, 123, 123);

code, pre {
  font-family: monospace;
  font-size: 1.4em;
}

html, body {
  font-size: $font-size;
}

html {
  line-height: 1.75em;
  font-size: $font-size;
  font-family: "Fira Sans", Ubuntu, Roboto, "Helvetica Neue", Helvetica, arial, freesans, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: $font-color;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: all 0.25s ease-in-out;

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-color-focus;
  }
}

figure, img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, p {
  text-align: justify;
  margin: 2rem 0;
}

h3 {
  font-size: 0.9em;
  font-weight: 300;
  text-transform: uppercase;
  color: $font-color-subdued;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  padding: 2rem 0;
  flex: 1 0 auto;
}

@media screen and (min-width: 80*$font-size) {
  .testergrid {
    display: grid;
    max-width: 80rem;
    margin: auto;
    grid-template-columns: 50rem 30rem;
    grid-template-rows: auto;
    align-items: start;
  }
  .testergrid > * {
    align-self: stretch;
  }
}

/* 1440 + 252px */
@media screen and (min-width: 80*$font-size + 252px) {
  .main-container {
    display: grid;
    grid-template-columns: 252px auto;
    grid-template-rows: 75vh 25vh auto;
    grid-template-areas:
      "header main"
      "footer main"
      ". main";
  }
  .primary-header {
    position: sticky;
    grid-area: header;
    margin: 0;
    display: flex;
    align-items: center;
    background: #333;
    border: 0;
  }
  .primary-footer {
    grid-area: footer;
    position: sticky;
    top: 75%;
    left: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .main-content {
    grid-area: main;
  }
  .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .navigation a {
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
  }
}