@import "./topography.scss";

$background: white;
$link-color: rgb(41, 157, 221);
$link-color-focus: hotpink;
$font-size: 18px;
$font-color: #222;
$font-color-subdued: rgb(123, 123, 123);

code,
pre {
  font-family: monospace;
  font-size: 1.4em;
}

html,
body {
  font-size: $font-size;
  background: $background;
}

html {
  line-height: 1.75em;
  font-size: $font-size;
  font-family: "Fira Sans", Ubuntu, Roboto, "Helvetica Neue", Helvetica, arial,
    freesans, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: $font-color;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: all 0.25s ease-in-out;

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-color-focus;
  }

  &.selected {
    color: $font-color;
  }
}

.primary-header,
.primary-footer {
  z-index: 1000;
}

figure,
img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 1em 0;
}
p {
  text-align: justify;
}

ul,
ol {
  li {
    margin-bottom: 0;
  }
}

// todo: delete page-tagline
.typography--subdued,
.page-tagline {
  color: lighten($font-color, 30%);
  font-size: 0.8em;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex: 1 0 auto;
  position: relative;
}
.page-content {
  padding: 3rem 0;
}

.lab-feature {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;

  margin-right: -2rem;
  > * {
    margin-right: 2rem;
  }

  .lab-image {
    a > * {
      margin-bottom: 1rem;
    }
    flex: 1 0 auto;
    flex-basis: 15rem;
    margin-right: 2rem;
  }
  .lab-description {
    flex: 1 1 auto;
    flex-basis: 20rem;
    margin-right: 2rem;
    > :first-child {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 80*$font-size) {
  .two-column-grid {
    display: grid;
    max-width: 80rem;
    margin: auto;
    grid-template-columns: 62.5% 37.5%;
    grid-template-rows: auto;
    align-items: start;
  }
  .two-column-grid > * {
    align-self: stretch;
  }
}

/* 1440 + 252px */
/* +18px cause of scrollbar BS */
@media screen and (min-width: 80*$font-size + 252px + 18px) {
  .main-container {
    display: grid;
    grid-template-columns: 252px auto;
    grid-template-rows: 75vh 25vh auto;
    grid-template-areas:
      "header main"
      "footer main"
      ". main";
  }

  .primary-header {
    position: sticky;
    grid-area: header;
    margin: 0;
    display: flex;
    align-items: center;
    border: 0;
    background: #fbfbff;
  }

  .primary-footer {
    grid-area: footer;
    position: sticky;
    top: 75%;
    left: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .primary-header,
  .primary-footer {
    background-image: url(../img/topography.svg);
  }

  .main-content {
    grid-area: main;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.1);
    z-index: 3;
  }
  .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .navigation a {
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
  }
}

.resume__job {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #efefef;
  > :last-child {
    margin-bottom: 0;
  }
}
